h1 {
  font-weight: 900;
  font-size: 6.8rem;
}

h2 {
  font-size: 5.4rem;
  color: #a8b6bf;
}

p {
  font-family: 'Merriweather', serif;
}

.main-container {
  overflow-x: hidden;
}

.nav-text {
  font-weight: 400;
}

.active-nav {
  font-weight: 900;
}

.splash-text-container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.splash-text-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url('./assets/images/flower.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70% auto;
}

.center-items-middle-screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width : 767px) {
  .center-items-middle-screen {
    margin-bottom: 20px;
  }
}

.us-image {
  height: auto;
  width: 300px;
}

.body-accent {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 0;
}

.body-header {
  font-size: 3.6rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 50px;
}

.body-text {
  font-size: 1.6rem;
}

.fact-accent-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.bullet-color {
  color: #c9d8c5;
  margin-bottom: 5px;
}

.bullet-text {
  color: black;
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}

.dingus-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dingus-number {
  font-size: 8.9rem;
  color: #c9d8c5;
}

.info-header {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3.6rem;
}

.info-text {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.footer-container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.footer-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .6;
  background-image: url('./assets/images/succulent.png');
  background-repeat: no-repeat;
  background-position: 50% 255%;
  background-size: 40% auto;
}

#fixed-footer {
  display: none;
}

/*OVERRIDES*/
.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: inherit;
  border: none;
  color: black;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-default .navbar-toggle {
  border: none;
}
